mixin main
  ol.breadcrumb
    li
      a(href='../../') ホーム
    li.active パスワードの変更

  h1.page-header パスワードの変更

  .panel.panel-default
    .panel-heading パスワード変更フォーム
    .panel-body
      .form-group
        label.control-label(for='currentPassword') 現在のパスワード
        input.form-control(type='password', name='currentPassword', id='currentPassword')
      .form-group
        label.control-label(for='newPassword') 新しいパスワード
        input.form-control(type='password', name='newPassword', id='newPassword')
      .form-group
        label.control-label(for='newPasswordConfirm') 新しいパスワード (確認のためもう一度)
        input.form-control(type='password', name='newPasswordConfirm', id='newPasswordConfirm')

  .clearfix
    a.btn.btn-default(href='../../') ホームへ戻る
    a.btn.btn-primary.pull-right(href='../../') パスワードの変更
