extends ../layouts/two-column

block main
  main

  script(type='text/template', id='template-main')
    ol.breadcrumb
      li
        a(href='../../../../') ホーム
      li
        a(href='../../../') テーブル一覧
      li
        a(href='../../') テーブルの詳細
      li.active 帳票の詳細

    h1.page-header 帳票の詳細

    p.text-right
      a.btn.btn-warning(href='./edit/') 修正
      | 
      a.btn.btn-danger(href='./delete/') 削除

    p.text-right
      a.btn.btn-default(href='./copy/') コピーして新規登録

    table.table
      tbody
        tr
          th 番号
          td {{ resource.index }}
        tr
          th 名称
          td {{ resource.name }}
        tr
          th キー
          td {{ resource.key }}
        tr
          th 備考
          td
            div(v-for='line in resource.memoLines') {{ line }}

    hr

    .row
      .col-xs-offset-3.col-xs-6
        a.btn.btn-default.btn-block(href='../../') テーブル詳細へ戻る

block script
  script.
    (function () {
      'use strict';

      var Vue = window.Vue;
      var axios = window.axios;

      axios.get('#{baseUrl}/private/api/v1/formats/#{resource._id}')
        .then(function (response) {
          const resource = response.data;

          resource.memoLines = (typeof resource.memo === 'string' ? resource.memo : '').split('\n');

          var vm = new Vue({
            data: { resource: resource },
            template: document.getElementById('template-main').innerText
          });

          vm.$mount('main');
        })
        .catch(function (err) {
          console.error(err.stack || err);
        });
    })();
