extends ./base

block aside
  ul.nav
    li
      a(href='/admin/') ホーム
    li
      a(href='/admin/accounts/') 顧客一覧
    li
      a(href='/admin/deals/') 取引一覧
    li
      a(href='/admin/employees/') 従業員一覧
    li
      a(href='/admin/reports/') レポート一覧
    li
      a(href='/admin/dashboards/') ダッシュボード一覧
    li
      a(href='/admin/users/') ユーザ一覧
    li
      a(href='/admin/profiles/') 権限一覧
    li
      a(href='/admin/tables/') テーブル一覧
    li
      a(href='/admin/settings/') システム設定一覧
    li
      a(href='/admin/auth/password/') パスワードの変更
    li
      a(href='/admin/auth/logout/') ログアウト
