extends ./base

block aside
  ul.nav
    li
      a(href='/sales/') ホーム
    li
      a(href='/sales/accounts/') 顧客一覧
    li
      a(href='/sales/deals/') 取引一覧
    li
      a(href='/sales/auth/password/') パスワードの変更
    li
      a(href='/sales/auth/logout/') ログアウト
