mixin form
  .panel.panel-default
    .panel-heading 基本情報
    .panel-body
      .form-group
        label.control-label(for='index') 番号
        input.form-control(type='number', name='index', id='index', v-model='self.model.form.index')
      .form-group(v-if='self.model.validation.index === false')
        .alert.alert-info 番号を正しく入力してください
      .form-group
        label.control-label(for='name') 名称
        input.form-control(type='text', name='name', id='name', v-model='self.model.form.name')
      .form-group(v-if='self.model.validation.name === false')
        .alert.alert-info 名称を入力してください
      .form-group
        label.control-label(for='key') キー
        input.form-control(type='text', name='key', id='key', v-model='self.model.form.key')
      .form-group(v-if='self.model.validation.key === false')
        .alert.alert-info キーを正しく入力してください
      .form-group
        label.control-label(for='path') パス
        select.form-control(name='path', id='path', v-model='self.model.form.path')
          option(value='') - クリックして選択 -
          option(value='/') /
          option(value='/:key/') /:key/
          option(value='/:id/') /:id/
          option(value='/:id/:key/') /:id/:key/
      .form-group(v-if='self.model.validation.path === false')
        .alert.alert-info パスを選んでください
      .form-group
        label.control-label(for='className') クラス名
        input.form-control(type='text', name='className', id='className', v-model='self.model.form.className')
      .form-group(v-if='self.model.validation.className === false')
        .alert.alert-info クラス名を入力してください
      .form-group
        label.control-label(for='classData') クラスデータ
        textarea.form-control(rows='10', type='text', name='classData', id='classData', v-model='self.model.form.classData')
      .form-group(v-if='self.model.validation.classData === false')
        .alert.alert-info クラスデータを正しく入力してください
      .form-group
        label.control-label(for='memo') 備考
        textarea.form-control(rows='10', type='text', name='memo', id='memo', v-model='self.model.form.memo')
