mixin form
  .panel.panel-default
    .panel-heading 基本情報
    .panel-body
      .form-group
        label.control-label(for='index') 番号
        input.form-control(type='number', name='index', id='index', v-model='self.model.form.index')
      .form-group(v-if='self.model.validation.index === false')
        .alert.alert-info 番号を正しく入力してください
      .form-group
        label.control-label(for='name') 名称
        input.form-control(type='text', name='name', id='name', v-model='self.model.form.name')
      .form-group(v-if='self.model.validation.name === false')
        .alert.alert-info 名称を入力してください
      .form-group
        label.control-label(for='key') キー
        input.form-control(type='text', name='key', id='key', v-model='self.model.form.key')
      .form-group(v-if='self.model.validation.key === false')
        .alert.alert-info キーを正しく入力してください
      .form-group
        label.control-label(for='path') パス
        input.form-control(v-if="self.method === 'POST'", type='text', name='path', id='path', v-model='self.model.form.path')
        input.form-control(v-if="self.method === 'PUT'", type='text', name='path', id='path', v-model='self.model.form.path', readonly)
      .form-group(v-if='self.model.validation.pathNotEmpty === false')
        .alert.alert-info パスを入力してください
      .form-group(v-if='self.model.validation.pathNotExists === false')
        .alert.alert-info 同じパスがすでに存在します
      .form-group
        label.control-label(for='file') ファイル
        .checkbox(v-if="self.method === 'PUT'")
          label
            input(type='checkbox', name='fileChange', v-model='self.model.form.file.change')
            | ファイルを変更する
        input.form-control(v-show='self.model.form.file.change === true', type='file', name='file', id='file')
      .form-group(v-if='self.model.validation.file === false')
        .alert.alert-info ファイルを選んでください
      .form-group
        label.control-label(for='memo') 備考
        textarea.form-control(rows='10', type='text', name='memo', id='memo', v-model='self.model.form.memo')
